.place__website {
  width: 456px;
  grid-area: website;
  display: flex;
  flex-direction: column;
  padding-top: 107px;
}

@media (max-width: 768px) {
  .place__website {
  width: 295px;
  padding: 0;
  }
  }

  @media (max-width: 320px) {
  .place__website {
  width: 288px;
  padding: 30px 16px;
  }
  }