.place {
  width: 984px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
  "title website"
  "image paragraphs"
  "button paragraphs";
}