.action-button{
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  line-height: normal;
  grid-area: button;
  border-radius: 4px;
  background: #0278FE;
  display: inline-flex;
  padding: 13px 20px;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
  width: 315px;
  align-self: self-start;
  }

  .action-button:hover{
    background: #0063D2;
    text-shadow: 0 0 2px rgb(17, 0, 255);
    }


    @media (max-width: 320px) {
      .action-button {
      width: 245px;
      font-size: 14px;
      padding: 16px 22px 15px 21px;
      align-self: auto;
      }
      }
