.intro__title {
  color: #FFF;
  font-family: 'Inter';
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  padding-top: 40px;
  margin: 0;
}

@media (max-width: 768px) {
  .intro__title {
  width: 720px;
  }
  }

  @media (max-width: 320px) {
  .intro__title {
  width: 288px;
  font-size: 32px;
  line-height: 35px;
  }
  }
